
.navbar .static-top{
    background-color: white;
    color: black !important;
}
a{
    color: black;
}
a:hover{
    text-decoration:none !important;
}
.logo_container{
    width: 20%;
    float: left;
}
#et-top-navigation{
    width: 75%;
    float: right;
    margin-top: 20px;
}
#et-top-navigation a{
    color: rgba(0,0,0,.6);
}
#navbarText > ul{
    width: 100%;
}
#navbarText > ul > li{
    /*width: 16%;*/
    /*font-size: 10px;*/
    /*font-weight:700;*/
    /*text-align: center;*/
}

#et-top-navigation .dropdown-menu{
    z-index: 9999;
    width: 240px;
    border-top: 3px solid #7cc68d;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    padding: 20px 0;
    border-radius: 0;
}

#et-top-navigation .dropdown-menu li{
    margin: 0;
}


#et-top-navigation .dropdown-menu li a{
    padding: 6px 20px;
    display: block;
}

#et-top-navigation .dropdown-menu li a:hover{
    opacity: .7;
    background-color: rgba(0,0,0,.03);
}
