.header{
    background-color: #e41b13 ;
}
.header-top a{
    color: #fff;
}
.header-top .display-flex-content{
   display: flex;
    padding: 0;
}
.header-top #navbarText > ul{
    width: 100%;
}
.header-top #navbarText > ul >li{
     width: 20%;
    margin-left: 5%;
}

.header .main-menu{
    background: #294d98;
    color: #fff;
}

.header .main-menu ul.navbar-nav > li > a{
    color: #fff;
    padding: 5px 40px;
    font-size: 15px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 700;
}

.header .main-menu ul.navbar-nav > li > a:hover{
    color: yellow;
}

.header .main-menu ul.navbar-nav > li:not(:last-child) > a{
    border-right: 1px solid #fff;
}

.header .main-menu ul.navbar-nav > li:first-child > a{
    padding-left: 0;
}

.header .main-menu ul.navbar-nav > li:last-child > a{
    padding-right: 0;
}

.header .main-menu  ul.navbar-nav > li > ul.dropdown-menu{
    padding: 0;
}

.header .main-menu  ul.navbar-nav > li > ul.dropdown-menu > li a{
    padding: 10px 15px;
    display: block;
    width: 100%;
    font-size: 14px;
}

.header .main-menu  ul.navbar-nav > li > ul.dropdown-menu > li a:hover{
    text-decoration: underline;
}

.header .main-menu  ul.navbar-nav > li > ul.dropdown-menu > li:not(:last-child) a{
    border-bottom: 1px solid #ccc;
}
