.header{
    background-color: #91d5fb ;
}
.header-top a{
    color: #000;
}
.header-top .display-flex-content{
   display: flex;
    padding: 0;
}
.header-top #navbarText > ul{
    width: 100%;
}
.header-top #navbarText > ul >li{
     width: 20%;
    margin-left: 5%;
}

.header .main-menu{
    background: #238AE6;
    color: #fff;
}

.header .main-menu ul.navbar-nav > li > a{
    color: #fff;
    padding: 5px 40px;
    font-size: 15px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 700;
}

.header .main-menu ul.navbar-nav > li > a:hover{
    color: yellow;
}

.header .main-menu ul.navbar-nav > li:not(:last-child) > a{
    border-right: 1px solid #fff;
}

.header .main-menu ul.navbar-nav > li:first-child > a{
    padding-left: 0;
}

.header .main-menu ul.navbar-nav > li:last-child > a{
    padding-right: 0;
}
.header .main-menu .dropdown-menu{
    z-index: 9999;
    width: 240px;
    border-top: 3px solid #7cc68d;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    padding: 20px 0;
    border-radius: 0;
}
.header .main-menu .dropdown-menu li{
    margin: 0;
}


.header .main-menu .dropdown-menu li a{
    padding: 6px 20px;
    display: block;
}

.header .main-menu .dropdown-menu li a:hover{
    opacity: .7;
    background-color: rgba(0,0,0,.03);
}
