/*---responsive---*/
@media (min-width: 1200px){
    .container {
        max-width: 1250px;
    }
    .main-content{
        min-height: 500px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px){
    .header .main-menu  ul.navbar-nav > li > ul.dropdown-menu{
        min-width: 250px;
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .product-list .products .product-item{
        width: 33.3333%;
    }

    #et-top-navigation{
        margin: 0;
        width: 100%;
    }

    #et-top-navigation .navbar-toggler{
        position: absolute;
        top: 15px;
        right: 20px;
    }

    #et-top-navigation .navbar{
        position: static;
    }

    #navbarText > ul{
        padding: 20px 0;
    }

    #navbarText > ul > li{
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    #et-top-navigation .dropdown-menu{
        width: 100%;
    }

    .me-avatar img{
        max-width: 50%;
    }

    .me-avatar{
        margin-bottom: 30px;
    }

    .news-list .news{
        width: 50%;
    }

    .hiring-section .card{
        margin-bottom: 20px;
    }
    .logo > p{
        display:none;
    }
    .events-banner{
        display:none;
    }
    .home-banner{
        display:none;
    }
    .list-books .books .book-item .book-info{
        margin: 0;
        text-align: center;
    }
    .list-books .books .book-image{
        text-align:center;
    }
}

@media only screen and (max-width: 767px){
    .landing-testimonials .testimonial .testimonial-content{
        float: none;
        width: 100%;
        margin: 0 0 20px 0;
    }
    .landing-testimonials .testimonial .description{
        width: 100%;
    }
    .landing-testimonials .testimonial .description:before{
        border: 10px solid transparent;
        border-bottom: 10px solid rgba(255,255,255,0.15);
        position: absolute;
        top: -20px;
        left: 47.5%;
    }

    #feeling_section .section-content{
        padding: 0px 10px;
    }

    .landing-testimonials .testimonial .description{
        padding: 40px 25px;
        font-size: 17px;
    }

    .flame-section td{
        font-size: 20px;
    }

    .landing-page-section .section-content .display-flex-box .box{
        margin-top: 0;
    }

    .header-top a{
        color: rgba(255, 255, 255, 0.8);
    }

    .header .header-top .register{
        top: 42px;
        z-index: 2;
    }

    .main-menu .navbar-toggler{
        position: relative;
        z-index: 3;
    }

    .header .logo{
        text-align: center;
    }

    .header .main-menu ul.navbar-nav > li:first-child > a{
        padding-left: 10px;
    }

    .header .main-menu ul.navbar-nav > li:not(:last-child) > a{
        border-right: 0;
        border-bottom: 1px solid #fff;
    }

    .header .main-menu ul.navbar-nav > li{
        margin-bottom: 0;
    }

    .header .main-menu ul.navbar-nav > li > a{
        display: block;
        padding: 5px 10px;
    }

    .home-banner img{
        max-width: 290px;
    }

    .about-teacher .image-box{
        text-align: center;
        margin-bottom: 20px;
    }

    .cart-summary{
        width: 100%;
    }

    .document-list .document-item{
        margin-bottom: 15px;
    }
    .product-media-small{
        display:none;
    }
}

@media (max-width: 640px){
    .product-list .products .product-item{
        width: 50%;
        padding: 0 10px;
    }

    .landing-page-section .section-title{
        font-size: 27px;
    }

    .news-list .news{
        width: 100%;
        padding: 0;
    }

    .flame-section table th{
        display: none;
    }

    .flame-section .th{
        width: 100% !important;
        text-align: left;
    }

    .flame-section table td{
        display: block;
        width: 100%;
        text-align: left;
    }

    .flame-section table td:before{
        content: attr(data-title)':';
        display: inline-block;
        width: 80px;
    }

    .list-books .books .book-item-inner{
        flex-direction: column;

    }

    .list-books .books .book-image img{
        display: inline-block;
    }

    .list-books .books .book-image{
        text-align: center;
    }

    .list-books .books .book-item .book-info{
        margin: 18%;
        padding: 0;
    }

    .cart-table thead{
        display: none;
    }

    .cart-table , .cart-table > tbody,
    .cart-table > tbody > tr,
    .cart-table > tbody > tr > td{
        display: block;
    }

    .cart-table > tbody > tr > td,
    .cart-table tbody > tr:first-child > td{
        padding: 0;
        border: 0;
        overflow: hidden;
    }

    .cart-table > tbody > tr > td > span{
        display: inline-block;
        width: calc(100% - 160px);
    }

    .cart-table tbody > tr > td:first-child{
        padding-top: 15px;
        border-top: 1px solid #e9ecef;
    }

    .cart-table tbody > tr > td:last-child{
        padding-bottom: 15px;
        border-bottom: 1px solid #e9ecef;
    }

    .cart-table > tbody > tr > td:before{
        content: attr(data-title)': ';
        font-size: 14px;
        display: inline-block;
        font-weight: 700;
        float: left;
        width: 150px;

    }

    .cart_quantity .cart_quantity_button{
        margin-bottom: 15px;
    }

    .page-checkout .form-one,
    .page-checkout .form-two{
        width: 100%;
    }

    .page-checkout .cart_info table thead{
        display: block;
    }

    .page-checkout .cart_info table thead > tr > th{
        display: none;
    }

    .page-checkout .cart_info table thead > tr{
        display: block;
    }

    .page-checkout .cart_info table thead > tr > th.description{
        display: block;
    }

    .page-checkout .cart_info table , .page-checkout .cart_info table > tbody,
    .page-checkout .cart_info table > tbody > tr,
    .page-checkout .cart_info table > tbody > tr > td{
        display: block;
    }

    .page-checkout .cart_info table > tbody > tr > td,
    .page-checkout .cart_info table tbody > tr:first-child > td{
        padding: 0;
        border: 0;
        overflow: hidden;
    }

    .page-checkout .cart_info table > tbody > tr > td:last-child{
        border-bottom: 1px solid #e9ecef;
    }

    .page-checkout .cart_info table > tbody > tr > td:first-child{
        padding-top: 20px;
    }

    .page-checkout .cart_info table > tbody > tr > td:before{
        content: attr(data-title)':';
        display: inline-block;
        font-weight: 500;
        width: 150px;
    }

    .page-checkout .cart_info table > tbody > tr > td > *{
        display: inline-block;
    }

    .page-checkout .cart_info table > tbody > tr.summary > td:before{
        display: none;
    }

    .page-checkout .cart_info table > tbody > tr.summary > td{
        text-align: center;
        border: 0;
    }

    #cart_items .btn.check_out{
        width: 100%;
    }

    .cart_description{
        width: 100%;
    }

    .test-title .entry-title{
        font-size: 23px;
    }


}

@media (max-width: 480px){
    .product-list .products .product-item{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .who-are-we-section .section-content > .content{
        flex-direction: column;
    }

    .who-are-we-section .who-are-we-icon{
        margin: 35px auto;
    }

    .who-are-we-section .who-are-we-content p{
        font-size: 19px;
    }

    .me-content .me{
        font-size: 19px;
    }

    .logo_container{
        width: 40%;
        min-height: 55px;
    }

    .product-list .products .product-item{
        width: 100%;
    }

    .ducument-category ul li{
        width: 100%;
        padding: 0;
    }

}
