section > .title{
    padding-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}
section > .content{
    width: 100%;
    padding-left: 37%;
    padding-bottom: 5%;
}
.add-to-cart{
    margin-left: 45%;
    padding-bottom: 5%;
}
a{
    color: black !important;
}
.navbar .static-top{
    background-color: white;
    color: black !important;
}
.container{
    height: 80px;
}
.logo_container{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    margin-top: 2%;
    margin-bottom: 5%;
}
#et-top-navigation{
    width: 55%;
    height: 80%;
    margin-top: 2%;
    margin-bottom: 5%;
}
#navbarText > ul{
    width: 100%;
}
#navbarText > ul > li{
    width: 25%;
}
#join-course > .title{
    margin-left: 5%;
}
#benifit-content{
    margin-left: 20%;
}
#benifit-content{
    display: flex;
    padding-bottom: 5%;
}
.join-course-form > div > input{
    width: 80%;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 5%;
}
